---
import Analytics from "@vercel/analytics/astro";
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-roboto-mono" preload />
    <title>Alex Rothenberg - Portfolio</title>
  </head>
  <body>
    <Analytics />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    background-color: #111;
  }
</style>
